<div class="swiper-slide" class="partial" data-partial="elements/slide">
    {{#if config.image}}
        {{{mixin "agency-pkg-element-base/picture" picture}}}
        {{else}}
        {{text}}
    {{/if}}

</div>