---
value: 'Blueprint'
---
<div class="{{#if class}}{{{class}}}{{else}}pkg controller{{/if}}" {{#block "attributes"}}data-pkg="agency-pkg-swiper" data-controller="agency-pkg-swiper"{{/block}}>
    {{{mixin "agency-pkg-blueprint/child" this}}} <span data-hook="message"></span>
</div>